
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300"
      rel="stylesheet"
      type="text/css"
    />
  
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.3.0/css/flag-icon.min.css"/>
  <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
      crossorigin="anonymous"
    />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>




    <link rel="stylesheet" href="/CSS/allApps.css" />
    <title> All Applications </title>



</head>
  
  <body>
    <nav class="top-nav">
      <!-- search bar -->
      <div class="wrap">
        <div class="search">
           <form method='POST' action='/search' style="display:inline">
          <input
          id="searchKey"
          name="searchKey"
            type="text"
            class="searchTerm"
            placeholder="What are you looking for?"
            style="display:inline"
          />
          <button id="search-btn" type="submit" class="searchButton" style="display:inline;">
            <i class="fa fa-search"></i>
          </button>
          </form>
          <!-- currency conversion toggle -->
  
          <a id="currency" href="#" class="toggle toggle--usd"></a>
  
          <!-- user icon -->
          
          <div id="imC" class="ContactUs">
            <img
            id="user-icon"
      
            src="/images/<%=photo%>"
            alt="user icon"
         
          />
   
        </div>
      </div>
    </nav>
  
    <nav class="navbar">
      <ul class="navbar-nav">
        <li class="logo">
          <a href="/home" class="nav-link">
            <span class="link-text logo-text">PlayStore</span>
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fad"
              data-icon="angle-double-right"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
              class="svg-inline--fa fa-angle-double-right fa-w-14 fa-5x"
            >
              <g class="fa-group">
                <path
                  fill="currentColor"
                  d="M224 273L88.37 409a23.78 23.78 0 0 1-33.8 0L32 386.36a23.94 23.94 0 0 1 0-33.89l96.13-96.37L32 159.73a23.94 23.94 0 0 1 0-33.89l22.44-22.79a23.78 23.78 0 0 1 33.8 0L223.88 239a23.94 23.94 0 0 1 .1 34z"
                  class="fa-secondary"
                ></path>
                <path
                  fill="currentColor"
                  d="M415.89 273L280.34 409a23.77 23.77 0 0 1-33.79 0L224 386.26a23.94 23.94 0 0 1 0-33.89L320.11 256l-96-96.47a23.94 23.94 0 0 1 0-33.89l22.52-22.59a23.77 23.77 0 0 1 33.79 0L416 239a24 24 0 0 1-.11 34z"
                  class="fa-primary"
                ></path>
              </g>
            </svg>
          </a>
        </li>
  
        <li class="nav-item">
          <a href="/apps" class="nav-link" id="apps">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fad"
              data-icon="cat"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              class="svg-inline--fa fa-cat fa-w-16 fa-9x"
            >
              <g class="fa-group">
                <i
                  class="fa fa-star fa-primary fa-secondary fa-2x icons"
                  id="staricon"
                ></i>
              </g>
            </svg>
            <span class="link-text">Applications</span>
          </a>
        </li>
  
        <li class="nav-item">
          <a href="/games" class="nav-link">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fad"
              data-icon="gamepad"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 576 512"
              class="svg-inline--fa fa-gamepad fa-w-18 fa-9x"
            >
              <g class="fa-group">
                <i class="fa fa-gamepad fa-primary fa-secondary fa-2x icons"></i>
              </g>
            </svg>
  
            <span class="link-text">Games</span>
          </a>
        </li>
  
        <li class="nav-item">
          <a href="/movies" class="nav-link">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fad"
              data-icon="space-station-moon-alt"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              class="svg-inline--fa fa-space-station-moon-alt fa-w-16 fa-5x"
            >
              <g class="fa-group">
                <i
                  class="fa fa-play-circle fa-primary fa-secondary fa-2x icons"
                  id="movieicon"
                ></i>
              </g>
            </svg>
            <span class="link-text">Movies</span>
          </a>
        </li>
  
        <li class="nav-item">
          <a href="/books" class="nav-link">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fad"
              data-icon="space-shuttle"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 640 512"
              class="svg-inline--fa fa-space-shuttle fa-w-20 fa-5x"
            >
              <g class="fa-group">
                <i class="fa fa-book fa-primary fa-secondary fa-2x icons"></i>
              </g>
            </svg>
            <span class="link-text">Books</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" id="logout-anchor" style="text-decoration: none;">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fad"
              data-icon="space-shuttle"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 640 512"
              class="svg-inline--fa fa-space-shuttle fa-w-20 fa-5x"
            >
              <g class="fa-group">
                <i class="fa fa-sign-out-alt fa-primary fa-secondary fa-2x icons"></i>
              </g>
            </svg>
            <form action="/logout?_method=DELETE" method="POST">
            <button type="submit" id="logout-button"><span class="link-text">Logout</span></button>
          </form>
          </a>
        </li>
      </ul>
    </nav>
  

    <div style="height: 60px"></div>

    <div class="container shamseddine">
        <% if (route === "popular") {%>
        <h2>Most Popular Apps</h2>
        <%}%>
        <% if (route === "paid") {%>
        <h2>Paid Apps</h2>
        <%}%>
        <% if (route === "free") {%>
        <h2>Top Free Apps</h2>
        <%}%>
        <% if (route === "topPaid") {%>
        <h2>Top Paid Games</h2>
        <%}%>
        <% if (route === "topRated") {%>
          <h2>Top Rated Games</h2>
        <%}%>
        <% if (route === "kids") {%>
        <h2>Games for Kids</h2>
        <%}%>
        <% if (route === "adventure") {%>
          <h2>Adventure Games</h2>
        <%}%>
        <% if (route === "family") {%>
          <h2>Family Games</h2>
        <%}%>
      <div class="setOfAllItems">
        <%for(var i=0;i<apps.length;i++) {%>
        <div class="tab tempTab">
          <img src="/images/<%=apps[i].path%>" alt="Image" class="gridImage" />
          <div class="details">
            <div class="innerDetails">
              <div class="upperDetails">
                <h4 class="get-name"><%=apps[i].name%></h4>
                <p style="display: none;" class="appName"> <%=apps[i].path%> </p>
                <p class="subCat"><%=apps[i].genre%></p>
              </div>
              <div class="lowerDetails">
                <%  if (apps[i].price !== "free")  { %>
                  <i class="fas fa-dollar-sign" aria-hidden="true"><%=apps[i].price%></i>
                  <% } %>
                     <%  if (apps[i].price === "free")  { %>
                  <i class="fas " aria-hidden="true"><%=apps[i].price%></i>
                  <% } %>
                <i class="fas fa-star"><%=apps[i].averageRating%></i>
              </div>
            </div>
          </div>
        </div>
          <% } %>
      </div>
   









    <!-- Footer -->
    <footer class="site-footer" id="ft">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">
              This is a project about creating a website that is a Play store. It
              provides access to content including applications, games, movies,
              and books...
            </p>
          </div>
  
          <div class="col-xs-6 col-md-3">
            <h6>Categories</h6>
            <ul class="footer-links">
              <li><a href="">Applications</a></li>
              <li><a href="">Games</a></li>
              <li><a href="">Movies</a></li>
              <li><a href="">Books</a></li>
            </ul>
          </div>
  
          <div class="col-xs-6 col-md-3">
            <h6>Company</h6>
            <ul class="footer-links">
              <li>
                <div class="ContactUs">
                  Contact Us
                  <aside class="aside">
                    <p>Send us an email</p>
  
                    <li>
                      <a href="mailto:ams129@mail.aub.edu">Ali Shams Eddine</a>
                    </li>
                    <li><a href="mailto:jhs07@mail.aub.edu">Jawad Srour</a></li>
                    <li>
                      <a href="mailto:mke37@mail.aub.edu"
                        >Mohamad Ziad El Hamwi</a
                      >
                    </li>
                    <li><a href="mailto:mad60@mail.aub.edu">Mahdi Dhaini</a></li>
                  </aside>
                </div>
              </li>
              <li>
                <a
                  href="https://www.termsofservicegenerator.net/live.php?token=U9Ev2GBHMY7ryMIMUu8CbDi5O2G5NaSa"
                  >Terms of Service</a
                >
              </li>
              <li>
                <a
                  href="https://www.generateprivacypolicy.com/live.php?token=1IaiFg3tAFtFbyB58kpSRAxvMREUTA6u"
                  >Privacy Policy</a
                >
              </li>
            </ul>
          </div>
        </div>
        <hr />
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">
              Copyright &copy; 2021 All Rights Reserved
            </p>
          </div>
  
          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li>
                <a class="facebook" href="#"><i class="fab fa-facebook"></i></a>
              </li>
              <li>
                <a class="twitter" href="#"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a class="instagram" href="#"><i class="fab fa-instagram"></i></a>
              </li>
              <li>
                <a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  
    <!-- For toggle switch to work -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  
    <script src="home.js"></script>

        <script> 

      var appsList = document.getElementsByClassName("appName");
      console.log(document.getElementsByClassName('tab tempTab'));


      for (let i = 0; i < appsList.length; i++) {
        document.getElementsByClassName('tab tempTab')[i].addEventListener('click', function() {
          window.location.href = '/download/' + (appsList[i].innerHTML).substring(1);
          console.log('/download/' + (appsList[i].innerHTML).substring(1));
        });
      };
     </script>

         <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>


  </body>
  